.admin-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.admin-layout .menu {
  width: calc(20%);
  height: calc(100vh - 104px);
  position: fixed;
  top: 84px;
  left: 20px;
}

.admin-layout .banner {
  width: calc(20% - 1rem);
  height: calc(100vh - 104px);
  position: fixed;
  top: 84px;
  right: 20px;
}
.admin-layout.admin-layout-without-banner .admin-layout-content {
  width: calc(80% - 1rem);
  margin: 0 0 0 auto;
}

.admin-layout .admin-layout-content {
  width: calc(60% - 1rem);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.adminNav {
  all: inherit;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: 0.5px solid;
}
.adminNav.adminNav--dev {
  margin: 0;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #1976d2;
}
.adminNav.adminNav--dev.active {
  background-color: #fff;
  border: 1px solid #ffffff;
  font-weight: 500;
  color: #1976d2;
}

.adminNav.active {
  background-color: #1976d2;
  margin-right: 0;
  color: #fff;
  border-color: transparent;
}

ul .list {
  margin: 0;
  padding: 0;
}
ul .list.list--dev {
  margin-bottom: 10px;
}

h1 {
  padding-left: 1rem;
}
